*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.slides{
 max-height:620px;
  width:20%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.slide-item{
  height: 100px;   width:100px;margin: 5px;
}
 
#yellow{
     background-color:yellow;
}
 
#blue{
  background-color:blue;
}
 
#green{
   background-color:green;
}

#red{
   background-color:red;
}

#orange{
  background-color:orange;
}

#gray{
  height: 100px;  width:100px;margin: 5px; background-color:gray;
}
.play-box{
  height:100px;
  width:100px;
  background-color: white;
  /* margin-left: 25%; */
  margin-top: 5%;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  .play-box1{
    height:100px;
  width:100px;
   background-color: white;
   /* margin-left: 25%; */
   margin-top: 5%;
   margin: 5px;
   border-radius: 5px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
    
  
   }
   .play-box2{
    height:100px;
  width:100px;
   background-color: white;
   /* margin-left: 25%; */
   margin-top: 5%;
   margin: 5px;
   border-radius: 5px;
   display: flex;
   flex-direction: row;
 
   align-items: center;
   
   
 
  
   }
 .droppable{
   height: 500px;
   width: 80%;
  border-right: 4px solid white;
  list-style: none;
  }
  .droppable li{
    display: inline-block;
  }
 .dragLeave{
  border: 2px dotted red;
}

.dragEnter{
  border: 2px dotted green ;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .slides{
    width:30%;
  }
  .droppable{
    width: 40%;
  }
  .drag-item{
    width: 80px;
    height:80px;
    margin:5px;
    overflow-y: scroll;
  }
  .drag-item1{
    width: 80px;
    height:80px;
    margin:5px;
    overflow-y: scroll;
  }
  .play-box{
width: 120px;
height: 120px;
margin:3px;
display: flex;
flex-direction: column;
margin-right: 10px;

  }
}
.droppedSlides{
  display: flex;
   justify-content: center;
 align-items: center;

}
.sides{
  margin: 0;
  padding: 0;
}

.droppedImg {
  height:150px;
  width: 150px;
    display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dragged {
  user-select: none;
  cursor: default;
}
 
.opacity{
  opacity: 0.6;
 
}