<h1 style="color: coral;text-shadow:3px 1px #888888;text-align: center;margin-top: 5px;letter-spacing: 2px;">PLAYBOOK</h1>
<div class="container"
  style="display: flex;flex-direction: row; background-color: black;height:700px;max-width: 100%;margin-top: 5%;">
  <!-- slides -->
  <div class="slides"><div>
    <div class="slide-item" id="yellow" draggable="true"  ></div>  
    <div  class="slide-item"  id="blue" draggable="true"  ></div>   
    <div  class="slide-item" id="green" draggable="true"  ></div>  
    <div  class="slide-item"  id="red" draggable="true"  ></div>  
    <div  class="slide-item"  id="orange" draggable="true" ></div>  
    <div  class="slide-item" id="gray" draggable="true" ></div>  
  </div>
</div>
  <!-- playbox -->
 <ul class="droppable" >
   <li class="play-box" ><span ></span></li>
   <li class="play-box1" ><span ></span></li>
   <li class="play-box2" ><span ></span></li>
 
 </ul>

  <!-- images -->
  <div class="slides">
    <div>

  
      <div  class="drgTarget2 " id="img1" style=" height: 100px;width: 100px; margin: 2%; background-size: cover;background-repeat: no-repeat; background-image: url('./assets/images/img1.jpg');" draggable="true" > </div>
      <div  class="drgTarget2 " id="img2" style=" height: 100px;width: 100px; margin: 2%; background-size: cover;background-repeat: no-repeat; background-image: url('./assets/images/img3.jpg');" draggable="true" ></div>
       <div  class="drgTarget2 " id="img3" style=" height: 100px;width: 100px; margin: 2%; background-size: cover;background-repeat: no-repeat; background-image: url('./assets/images/img5.jpg');" draggable="true" ></div>
      <div  class="drgTarget2 " id="img4" style=" height: 100px;width: 100px; margin: 2%; background-size: cover;background-repeat: no-repeat; background-image: url('./assets/images/img6.jpg');" draggable="true" ></div>
      <div  class="drgTarget2 " id="img5" style=" height: 100px;width: 100px; margin: 2%; background-size: cover;background-repeat: no-repeat; background-image: url('./assets/images/img8.jpg');" draggable="true" ></div>
      <div  class="drgTarget2 " id="img6" style=" height: 100px;width: 100px; margin: 2%; background-size: cover;background-repeat: no-repeat; background-image: url('./assets/images/img7.jpg');" draggable="true"></div>
    </div>
  </div>
</div>