

<div class="container"
  style="display: flex;flex-direction: row; background-color: black;max-width: 100%;margin-top: 5%;">
  <div class="slides" >
    <div>
      <div class=" col-sm-6 drag-item  " id="yellow"  draggable="true" style="background-color:yellow ;" #dragItem > </div>
      <div class=" col-sm-6 drag-item  " id="blue"   draggable="true" style="background-color:blue ;" #dragItem > </div>
      <div class=" col-sm-6 drag-item  "  id="green"  draggable="true" style="background-color:green ;" #dragItem > </div>
      <div class=" col-sm-6 drag-item  "  id="red"  draggable="true" style="background-color:red;" #dragItem > </div>
       
       
    </div>
  </div>
  <div class=" droppable" style="display: flex;">
    <div class="play-box bg-white "  #playBox ></div>
    <div class="play-box bg-white " #playBox ></div>
    <div class="play-box bg-white " #playBox ></div>
  </div>
  <div class="sketches">
    <div>
      <div class="drag-item1" style="background-image: url('./assets/images/img1.jpg');" draggable="true" #dragItem1>
      </div>
      <div class="drag-item1" style="background-image: url('./assets/images/img7.jpg');" draggable="true" #dragItem1>
      </div>
      <div class="drag-item1" style="background-image: url('./assets/images/img4.jpg');" draggable="true" #dragItem1>
      </div>
      <div class="drag-item1" style="background-image: url('./assets/images/img5.jpg');" draggable="true" #dragItem1>
      </div>
      <div class="drag-item1" style="background-image: url('./assets/images/img6.jpg');" draggable="true" #dragItem1>
      </div>
    </div>
  </div>
</div>
